{% extends "master.html" %}
{% block title %}
  GrabWebHost -About Us
{% endblock %}
{% block content %}
      
<div class="no-bottom no-top" id="content">
            <div id="top"></div>
            <!-- revolution slider begin -->
            <!-- section begin -->
            <section id="section-hero" class="full-height relative no-top no-bottom text-light" data-bgimage="url(images/background/5.jpg)" data-stellar-background-ratio=".2">

                <div class="overlay-gradient t80">
                    <div class="center-y relative" data-scroll-speed="4">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                   
									<h1>GrabWebHost <br>About &amp; Us </h1>
									
									
									<p class="lead">
										We provide best IT solutions for your  needs. Our clients from personal to corporate. Our data center are all over the world to ensure your website is always up.!
									</p>
									
									<div class="spacer-20"></div>
									
									<a href="#tour" class="btn-custom scroll-to">See how it work</a>
                                    
                                </div>
								
								<div class="col-md-6">
									<img src="images/screen.png" class="img-fluid" alt="">
								</div>
								
                                <div class="clearfix"></div>
								
                                </div>
                            </div>
                        </div>
                    </div>

            </section>
            <!-- section close -->
            
			<section>
				<div class="container">
					<div class="row">
						<div class="col-md-6 offset-md-3 text-center">
							
							<h2>About Us</h2>
							
							<div class="spacer-20"></div>
						</div>
						
						<!-- feature box begin -->
                        <div class="col-md-4 col-sm-6 feature-box mb40">
                            <div class="box-icon-simple left">
                                <span class="num">1</span>
                                <div class="text">
                                    <h3> Mission</h3>
                                   Our Mission is to provide best and offordable IT Services that anyone can offord ,We are commited to provide best and cheapest IT Services all over the globe.
                                </div>
                            </div>
                        </div>
                        <!-- feature box close -->

                        <!-- feature box begin -->
                        <div class="col-md-4 col-sm-6 feature-box mb40">
                            <div class="box-icon-simple left">
                                <span class="num">2</span>
                                <div class="text">
                                    <h3> History</h3>
                                    We have been working since last 5 year and we are here to complete your demands. We are the parent company of Deluxehosty and Gowebx and we have merged to server better and efficiently.
                                </div>
                            </div>
                        </div>
                        <!-- feature box close -->

                        <!-- feature box begin -->
                        <div class="col-md-4 col-sm-6 feature-box mb40">
                            <div class="box-icon-simple left">
                                <span class="num">3</span>
                                <div class="text">
                                    <h3> Service</h3>
                                    We are commited to provide IT Services like 
                                    webHosting,Domain,Web development,App Develpment ETC.
                                </div>
                            </div>
                        </div>
                        <!-- feature box close -->
					</div>
				</div>
			</section>

		
			
			
			<section class="no-top no-bottom text-light" data-bgimage="url(images/background/9.jpg)" data-stellar-background-ratio=".2">
                <div class="overlay-gradient">
                   <div class="container">
						<div class="row">
							
							<div class="col-md-6 offset-md-3 text-center">
								
								<h1>Website Builder is free for all GrabWebHost users.</h1>
									
									
									<p class="lead">
										We provide best hosting solutions for your hosting needs. Our clients from personal to corporate. Our data center are all over the world to ensure your website is always up. 
									</p>
									
									<div class="spacer-20"></div>
									
									<a href="/sharedhosting/" class="btn-custom scroll-to">Get Hosting Now</a>
								
							</div>
							
						</div>
				   </div>
                </div>
            </section>



        </div>
                     
{% endblock %}
          
