{% extends "dashboardmaster.html" %}
{% block title %}
  GrabWebHost -Domain Cart
{% endblock %}
{% block content %}


<div class=" py-32pt py-lg-64pt">
    <div class="container-fluid page__container">
        <div class="col-lg-10 p-0 mx-auto">
            <div class="row">
                <div class="col-md-6 mb-24pt mb-md-0">
                    {% for message in messages  %}            
     
          <div class="alert alert-soft-warning mb-lg-32pt">
            <div class="d-flex flex-wrap align-items-start">
                <div class="mr-8pt">
                    <i class="material-icons">error</i>
                </div>
                <div class="flex" style="min-width: 180px">
                    <small class="text-100">
                        <strong id="error">Notice :- {{message}}</strong><br>
                    
                    </small>
                </div>
            </div>
        </div>
      {% endfor %}  
                    <form action="" method="post">{% csrf_token %}
                
                        <div class="form-group">
                            <label class="form-label"
                                   for="text">NameServer1</label>
                            <input 
                                   type="text"
                                   name="n1"
                                   class="form-control"
                                   placeholder="NS1.GRABWEBHOST.COM"
                                   value="NS1.GRABWEBHOST.COM" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label"
                                   for="text">NameServer2</label>
                            <input 
                                   type="text"
                                   name="n2"
                                   class="form-control"
                                   placeholder="NS2.GRABWEBHOST.COM"
                                   value="NS2.GRABWEBHOST.COM" required>
                        </div>
                        <div class="form-group">
                            <label class="form-label"
                                   for="text">NameServer3</label>
                            <input 
                                   type="text"
                                   name="n3"
                                   class="form-control"
                                   
                       >
                        </div>
                        <div class="form-group">
                            <label class="form-label"
                                   for="text">NameServer4</label>
                            <input 
                                   type="text"
                                   name="n4"
                                   class="form-control"
                                   
                               >
                        </div>
                            
                        
                        <button type="submit" class="btn btn-accent">Next</button>
                        
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="card mb-0">
                        <div class="card-body">
                            <h5>Details</h5>
                            <div class="d-flex mb-8pt">
                                <div class="flex"><strong class="text-70">Full Name</strong></div>
                                <strong>{{name}}</strong>
                            </div>

                            <div class="alert alert-soft-warning">
                                <div class="d-flex flex-wrap align-items-start">
                                    <div class="mr-8pt">
                                        <i class="material-icons">check</i>
                                    </div>
                                    <div class="flex"
                                         style="min-width: 180px">
                                        <small class="text-black-100">
                                           Domain <strong>{{ domain}}</strong>
                                        </small>
                                        
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            
                            <div class="alert alert-soft-warning">
                                <div class="d-flex flex-wrap align-items-start">
                                    <div class="mr-8pt">
                                        <i class="material-icons">check</i>
                                    </div>
                                    <div class="flex"
                            style="min-width: 180px">
                           <small class="text-black-100">
                              price <strong>₹{{price}}</strong>
                           </small>
                           
                       </div>
                       
                                    
                                    
                                </div>
                            </div>
                         
                            
                           
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}