

{% extends "master.html" %}
{% block title %}
  GrabWebHost - FAQ
{% endblock %}
{% block content %}
  <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            <!-- revolution slider begin -->
            <!-- section begin -->
            <section class="relative no-top no-bottom text-light" data-bgimage="url(images/background/6.jpg)" data-stellar-background-ratio=".2">

                <div class="overlay-gradient t80">
                    <div class="center-y relative text-center" data-scroll-speed="4">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                <div class="col text-center">
									<div class="spacer-single"></div>
									<h1>GrabWebHost FAQ</h1>
									
								
									
									
                                <div class="clearfix"></div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- section close -->
            

            <section data-bgimage="url(images/background/3.png) bottom">
                <div class="container">
                    <div class="row">
						<div class="col-md-12 text-center">
                            <h2>FAQ</h2>							
                            <div class="spacer-20"></div>
                        </div>
                        <div class="col-md-6 mb30">
							<div class="box-highlight">
										<div class="heading text-center text-white"><h3>General</h3></div>
										<div class="content">
											
											<div class="accordion">
                                <div class="accordion-section">
                                    <div class="accordion-section-title" data-tab="#accordion-1">
                                        How do I get started with web hosting?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-1">
                                        <p>First, Select Your Package and Buy now if you face any kind of difficulty than u can chat with us , then after payment you package will get automatically activated</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-2">
                                        What is difference for each plan?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-2">
                                        <p>The Main Diffrence between each plan is NVME SSD Storage,Number of emails, Bandwidth.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-3">
                                        What kind of web hosting do I need?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-3">
                                        <p>It fully depends on you if you use php or html language in development than its fine with our Shared Hosting but if you require development like django Web developent Then  you need to buy our django Hosting.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-4">
                                        Why do I need domain name?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-4">
                                        <p>A domain name gives your business instant credibility and puts you in the same online marketplace as your largest competitors.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-5">
                                        What my website protected from hackers?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-5">
                                        <p>Yes Your Website is fully protected from hacker we are using multi lavel firewall system which will protect your server from Hackers.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-6">
                                        How do I backup my website?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-6">
                                        <p>The backup system from our panel is very is even we are using JetBackup which provide batter backup system.</p>
                                    </div>
                                </div>
                            </div>
											
										</div>
									</div>
                        </div>
						
						<div class="col-md-6 mb30">
							<div class="box-highlight s2">
										<div class="heading text-center text-white"><h3>Advanced Topics</h3></div>
										<div class="content">
											
											<div class="accordion">
                                <div class="accordion-section">
                                    <div class="accordion-section-title" data-tab="#accordion-b-1">
                                        Which kind of WebServer is GrabWebHost Providing ?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-b-1">
                                        <p>We are currently Providing the fastest Web Server which is Litespeed WerServer.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-b-2">
                                        Will My account suspended/terminated if i forgot to pay?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-b-2">
                                        <p>Our billing System Remind you 10 days Before ur payment by sending mail althogh if u forgot to pay we dont suspend Your account for further 5 Days.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-b-3">
                                        Which type of Harware do GrabWebHost Using?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-b-3">
                                        <p>We are using NVME SSD Which is 10X Faster Than normal and Dedicated Core Which Provide Higher Performance.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-b-4">
                                        Is Domain free with Hosting?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-b-4">
                                        <p>Yes We do offer free domain with 1 year Subscription.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-b-5">
                                        How to get support?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-b-5">
                                        <p>We are committed to provide 24X7 Support through Direct mobile Call ,WhatsAPP Chat and Ticket Support.</p>
                                    </div>
                                    <div class="accordion-section-title" data-tab="#accordion-b-6">
                                        Is my provides information is safe?
                                    </div>
                                    <div class="accordion-section-content" id="accordion-b-6">
                                        <p>Yes, All those information that you provide to us is safe we don't offer our data to any company for marketting as we do belive in privacy.</p>
                                    </div>
                                </div>
                            </div>
											
										</div>
									</div>
                        </div>
                        
                    </div>
                </div>
            </section>

        </div>
        <!-- content close -->


{% endblock %}
          