{% extends "dashboardmaster.html" %}
{% block title %}
  GrabWebHost -Forget PassWord
{% endblock %}
{% block content %}
 

<div class=" pt-32pt pt-sm-64pt pb-32pt">
    <div class="container-fluid page__container">
        {% for message in messages  %}            
     
        <div class="alert alert-soft-warning mb-lg-32pt">
          <div class="d-flex flex-wrap align-items-start">
              <div class="mr-8pt">
                  <i class="material-icons">error</i>
              </div>
              <div class="flex" style="min-width: 180px">
                  <small class="text-100">
                      <strong>Notice :- {{message}}</strong><br>
                  
                  </small>
              </div>
          </div>
      </div>
    {% endfor %}    
        <form action="" method="post"
              class="col-md-5 p-0 mx-auto">{% csrf_token %}
            <div class="form-group">
                <label class="form-label"
                       for="email">New Password:</label>
                <input id="email"
                       type="password"
                       class="form-control"
                       placeholder="New Password" name="password" required>
            </div>
            <div class="form-group">
                <label class="form-label"
                       for="password">Confirm Password:</label>
                <input id="password"
                       type="password"
                       class="form-control"
                       placeholder="Password" name="password1" required>
                
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-accent">Login</button>
            </div>
        </form>
    </div>
</div>

 
{% endblock %}