<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/images/gbl.png" type="image/png" sizes="24x16">
    <meta name="title" content="#1 IT Solutions Company | Secured, Best Performance, Friendly Support">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="GrabWebHost is best IT Services Providing company with best upmost Services" name="description">
    <meta content="Hosting,grabwebhost,deluxehosty,inditechmart,free hosting,free domain,unlimited Hosting grabwebhost webhost fastesthosting reseller Hosting webdevelopment web designing fastest webdesigning " name="keywords">
    <meta content="Rohan Kumar Rawat" name="author">
    <meta property="og:locale" content="en_us">
      <meta property="og:url" content="https://grabwebhost.com/">
      <meta property="og:title" content="#1 ðŸ¥° IT Solutions  Company | Secured, Best Performance, Friendly Support">
      <meta property="og:image" content="/static/images/logolight.png">
      <meta property="og:site_name" content="#1 ðŸ¥° IT Solutions Company | Secured, Best Performance, Friendly Support" />
      <meta property="og:type" content="website" />

    
    

    <!-- /static/css Files
    ================================================== -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/animate.css" rel="stylesheet" type="text/css">
    <link href="/static/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/static/css/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/static/css/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="/static/css/magnific-popup.css" rel="stylesheet" type="text/css">
	<link href="/static/css/jquery.countdown.css" rel="stylesheet" type="text/css">	
	<link href="/static/fonts/font-awesome-5/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/static/fonts/font-awesome-4/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="/static/fonts/font-awesome-5/css/fontawesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/fonts/elegant_font/HTML_CSS/style.css" rel="stylesheet" type="text/css">

    <link href="/static/css/style.css" rel="stylesheet" type="text/css">

    <!-- color scheme -->
    <link id="colors" href="/static/css/colors/scheme-08.css" rel="stylesheet" type="text/css">
	<link href="/static/css/coloring.css" rel="stylesheet" type="text/css">

    <!-- RS5.0 Stylesheet -->
    
    <link href="/static/css/rev-settings.css" rel="stylesheet" type="text/css">
<style>
    .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
</style>

<body class="disable-dark">
    <div id="wrapper">
		
		
        <!-- header begin -->
        <header class="header-light header-s1 has-topbar">
			<div id="topbar" class="text-white">
				<div class="container">
					<div class="topbar-left">
						<span class="topbar-widget">
							<a href="#"><strong>Email: info@grabwebhost.in</strong></a>
						</span>
					</div>
				
					<div class="topbar-right">
						<div class="topbar-widget sm-hide"><a href="#"><i class="fa fa-phone"></i>+91 9354519271</a></div>
						<div class="topbar-widget sm-hide"><a href="/contact/"><i class="fa fa-envelope-o"></i>Support</a></div>
						<!--<div class="topbar-widget"><a href="/cart.php?a=checkout"><i class="fa fa-shopping-cart"></i><span class="sm-hide">Cart</span></a></div>-->
					</div>	
					<div class="clearfix"></div>
				</div>
			</div>
		
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="header-row">
                            <div class="header-col left">
            
                                <div id="logo">
                                    <a href="/"><img alt="" class="logo" src="/static/images/logolight.png" width="250" height="62"> <img alt="" class="logo-2" src="/static/images/logo.png" width="141px" height="30px"></a>
                                </div>
                              
                            </div>
                            <div class="header-col mid">
                                <!-- mainmenu begin -->
                                <ul id="mainmenu">
                                    <li><a href="/">Home</a>
									</li>
									
                                    <li><a href="#">Hosting</a>
                                        <ul>
                                            <li><a href="/sharedhosting/">Shared Hosting</a></li>
											<li><a href="/reseller/">Reseller Hosting<span>Hot</span></a></li>
                                          
                                   
                                        </ul>
                                    </li>
                                     <li><a href="/webdev">Web Development</a>
									</li>
                                    
									<li><a href="#">Pages</a>
                                        <ul>		
											
                                            <li><a href="/features/">Features</a></li>
                                             <li><a href="/services/">Services</a></li>
                                            <li><a href="/aboutus/">About Us</a></li>											
                                            <li><a href="/tac/">T&C</a></li>
											<li><a href="/pap/">Privacy Policy</a></li>
											<li><a href="/refund/">Refund and Cancellation</a></li>
                                        
                                        </ul>
                                    </li>
                                    
									<li><a href="/faq/">FAQ</a></li>   
                                    <li><a href="/contact/">Contact</a></li>

                                    
                                        
                                </ul>
                                {% if user.is_authenticated %}
                                
                                <div class="col-right">
                                    <a class="btn-custom" href="/dashboard/logout"><i class="fa fa-lock"></i> Logout</a>
                                </div>
                                {% else %}
                                <div class="col-right">
                                    <a class="btn-custom" href="/dashboard/login/"><i class="fa fa-lock"></i> Login</a>
                                </div>
            
    {% endif %}
                                
                                
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- small button begin -->
                        <span id="menu-btn"></span>
                        <!-- small button close -->

                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
</head>
<body>
{% block content %}
{% endblock %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=9354519271" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4 col-xs-4">
                        <div class="widget">
                            <h5>Services</h5>
                            <div class="tiny-border"></div>
                            <ul>
                                <li><a href="/sharedhosting/">Web Hosting</a></li>
                                
                        
                                
                                <li><a href="/reseller/">Reseller Hosting</a></li>
                                <li><a href="/webdev">Web Development</a>
									</li>
                                
                              
                                
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-4">
                        <div class="widget">
                            <h5>Pages</h5>
                            <div class="tiny-border"></div>
                            <ul>
                                

                        
                              
                                <li><a href="/tac/">Terms and Condition</a></li>
                                <li><a href="/pap/">Privacy and Policy</a></li>
                                <li><a href="/refund/">Refund and Cancellation</a></li>
                                <li><a href="/services/">Services</a></li>
                                <li><a href="/features/">Features</a></li>
                                <li><a href="/faq/">FAQ</a></li>
                                <li><a href="/contact/">Contact Us</a></li>
                                <li><a href="/dashboard/login/">Client Area</a></li>
                                
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 col-xs-4">
                        <div class="widget">
                            <h5>Company</h5>
                            <div class="tiny-border"></div>
                            <ul>
                                <li><a href="/aboutus/">About</a></li>
                                <!-- <li><a href="/index.php?rp=/login">Affiliates</a></li> -->
                                
                               
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget">
                    <a href="/"><img alt="grabwebhost" src="/static/images/logolight.png" width="250"></a>
                    <div class="spacer-20"></div>
                    <p>We are GrabWebHost, a web hosting company with 24/7 customer support. We provide best hosting solutions for your hosting needs. We are providing latest ai based web hosting control panel <a href="https://voidpanel.com" title="web hosting control panel">Voidpanel</a>.Our clients from personal to corporate. Our data center are all over the world to ensure your website is always up. You can choose shared hosting, vps hosting or cloud hosting. You can also be hosting reseller here. Happy hosting with us.<a href="https://voidpanel.com" title="control panel">Voidpanel</a></p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6 sm-text-center mb-sm-30">
                <div class="mt10">&copy; Copyright 2022 - GrabWebHost</div>
            </div>

            <div class="col-md-6 text-md-right text-sm-left">
                <div class="social-icons">
                    <a href="https://facebook.com/grabwebhost"><i class="fa fa-facebook fa-lg"></i></a>
                    <a href="https://twitter.com/grabwebhost"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="https://instagram.com/grabwebhost"><i class="fa fa-instagram fa-lg"></i></a>
                    
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- footer close -->


</div>		


<!--End of Tawk.to Script-->

<!-- Javascript Files
================================================== -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/wow.min.js"></script>
<script src="/static/js/jquery.isotope.min.js"></script>
<script src="/static/js/easing.js"></script>
<script src="/static/js/owl.carousel.js"></script>
<script src="/static/js/validation.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/enquire.min.js"></script>
<script src="/static/js/jquery.stellar.min.js"></script>
<script src="/static/js/jquery.plugin.js"></script>
<script src="/static/js/typed.js"></script>
<script src="/static/js/jquery.countTo.js"></script>
<script src="/static/js/jquery.countdown.js"></script>
<script src="/static/js/designesia.js"></script>

<!-- RS5.0 Core JS Files -->


<!-- RS5.0 Extensions Files -->

<!-- current page only scripts -->




</body>



</html>