{% extends "dashboardmaster.html" %}
{% block title %}
  GrabWebHost -Domain
{% endblock %}
{% block content %}
<div class="border-bottom-2 py-32pt position-relative z-1">
                    <div class="container-fluid page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
                        <div class="flex d-flex flex-column flex-sm-row align-items-center">

                            <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                                <h2 class="mb-0">Domain</h2>

                                <ol class="breadcrumb p-0 m-0">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>

                                    <li class="breadcrumb-item">

                                        <a href="#">Dashboard</a>

                                    </li>

                                    <li class="breadcrumb-item active">

                                        Domain

                                    </li>

                                </ol>

                            </div>

                           

                        </div>

                    </div>
                </div>
                
                <div class="container-fluid page__container">
                    <form action="https://huma.demo.frontendmatter.com/boxed-edit-account.html">
                        <div class="row">
                            <div class="col-lg-9 pr-lg-0">

                                <div class="page-section">
                                    <h4>Domain</h4>

                                   

                                    <div class="page-separator">
                                        <div class="page-separator__text">Domain History</div>
                                    </div>

                                    <div class="card table-responsive">
                                        <table class="table table-flush table-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Domain Name</th>
                                                    <th>Date</th>
                                                    <th class="text-center">Amount</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in invoice %}
                                                <tr>
                                                    <td><a href="boxed-billing-invoice.html" class="text-underline">{{i.domain_name}}</a></td>
                                                    <td>{{i.first_payment_date}}</td>
                                                    <td class="text-center">{{i.first_payment}}</td>
                                                    <td class="text-right">
                                                        <div class="d-inline-flex align-items-center">
                                                            
                                                            {% if i.status == 0 %}
                                                            <a href="#" class="btn btn-sm btn-outline-secondary mr-16pt">Manage <i class="icon--right material-icons">keyboard_arrow_right</i></a>
                                                            <a href="#" class="btn btn-sm btn-outline-secondary">InActive <i class="icon--right material-icons">file_download</i></a>
                                                            {% else %}
                                                            <a href="/currentinvoice?&paymentid={{i.checksign}}" class="btn btn-sm btn-outline-secondary mr-16pt">Manage <i class="icon--right material-icons">keyboard_arrow_right</i></a>
                                                            <a href="#" class="btn btn-sm btn-outline-secondary">Active <i class="icon--right material-icons">file_download</i></a>
                                                            {% endif %}
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}

                                               
                                               

                                               

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-3 page-nav">
                                <div class="page-section pt-lg-112pt">
                                    <nav class="nav page-nav__menu">
                                        <a class="nav-link" href="boxed-billing.html">Select Package</a>
                                        <a class="nav-link" href="boxed-billing-upgrade.html">Domain</a>
                                        <a class="nav-link" href="boxed-billing-payment.html">Payment Information</a>
                                        <a class="nav-link active" href="boxed-billing-history.html">Checkout</a>
                                        <a class="nav-link" href="boxed-billing-invoice.html">Invoice</a>
                                    </nav>
                                    <!-- <div class="page-nav__content">
            <button type="submit" class="btn btn-accent">Save changes</button>
          </div> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

{% endblock %}