

{% extends "master.html" %}
{% block title %}
  GrabWebHost -GrabWebHost - Features
{% endblock %}
{% block content %}
  

 
<div id="wrapper">

        <!-- header begin -->
      
        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            <!-- revolution slider begin -->
            <!-- section begin -->
            <section id="section-hero" class="full-height relative no-top no-bottom text-light" data-bgimage="url(images/background/4.jpg)" data-stellar-background-ratio=".2">

                <div class="overlay-gradient t80">
                    <div class="center-y relative text-center" data-scroll-speed="4">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                   
                                <div class="col text-center">
									<h1>Services</h1>
									
									<div class="spacer-single"></div>
									
								
                                    
									</div>
                                </div>
                                <div class="clearfix"></div>
								
                                </div>
                            </div>
                        </div>
                    </div>

            </section>
            <!-- section close -->
            

            <section id="section-features" class="pos-top no-top mt-60 no-bg bgcolor-variation">
                <div class="container-fluid">
                    <div class="row">
						<div id="owl-features" class="owl-carousel owl-theme">
								
						<div class="feature-box-type-2">
									<i class="icon-alarmclock"></i>
										<a href="/sharedhosting/"><h4>Shared Hosting</h4></a>
									<p>We provide best hosting solutions for your hosting needs.with 99.99% Uptime and multi lavel Security!</p>
								</div>	
								
								<div class="feature-box-type-2">
									<i class="icon-profile-male"></i>
										<a href="/reseller/"><h4>Reseller Hosting</h4></a>
									<p>We are committed to provide best dedicated support Service, Via WhatsAPP or Support Ticket.</p>
								</div>
								
								<!--<div class="feature-box-type-2">-->
								<!--	<i class="icon-refresh"></i>-->
								<!--	<a href="/domain/">	<h4>Domain</h4></a>-->
								<!--	<p>Get you Business name from the best market Place</p>-->
								<!--</div>-->
								<div class="feature-box-type-2">
									<i class="icon-refresh"></i>
									<a href="/webdev/">	<h4>Web Development</h4></a>
									<p>We are Providing Best Quality Web Development From Scratch</p>
								</div>
								
							
								
						</div>
                    </div>
                </div>
            </section>
		
			
			

        </div>
        <!-- content close -->


{% endblock %}
          